<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Kolor Picker</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.rawgit.com/emn178/color-sampler/master/build/color-sampler.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://cdn.rawgit.com/PitPik/tinyColorPicker/6d4af8d7b87007007104e4b04313399455635f4f/jqColorPicker.min.js"></script>
  <script src="https://cdn.rawgit.com/emn178/color-sampler/master/build/color-sampler.min.js"></script>
  <script src="https://cdn.rawgit.com/emn178/kolor-picker/master/build/kolor-picker.min.js"></script>
  <script src="../../src/angular-kolor-picker.js"></script>
</head>
<body ng-app="demo" ng-controller="DemoCtrl">
  <div id="header">
    <h1>Angular Kolor Picker</h1>
    <a href="https://github.com/emn178/angular-kolor-picker"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
  </div>
  <div id="body">
    <div id="description">
      <p>
        Move on canvas and see the effect.
      </p>
    </div>
    <div id="code-block">
      <h3>HTML</h3>
      <pre class="brush: js">
        &lt;div class=&quot;color&quot; ng-style=&quot;{&#39;background-color&#39;:color}&quot; ng-kolor-picker=&quot;options&quot; ng-model=&quot;color&quot;&gt;&lt;/div&gt;
      </pre>
      <h3>JavaScript</h3>
      <pre class="brush: js">
        $scope.options = {
          doRender: false,
          canvas: canvas
        };
      </pre>
    </div>
    <div id="main">
      <div id="colors">
        <div class="color-row">
          <span>Selected</span>
          <div class="color-wrapper">
            <div class="color" ng-style="{'background-color':color}" ng-kolor-picker="options" ng-model="color"></div>
          </div>
        </div>
      </div>
      <canvas id="canvas" width="250" height="385">
      </canvas>
    </div>
  </div>
  <div id="footer">
    © 2016 angular-kolor-picker Demo
  </div>
  <script>
    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    var img = new Image();
    img.onload = function () {
      context.drawImage(this, 0, 0);
    };
    img.src = "superman.jpg";

    angular.module('demo', ['ngKolorPicker'])
    .controller('DemoCtrl', ['$scope', function ($scope) {
      $scope.color = 'white';

      $scope.options = {
        doRender: false,
        canvas: canvas
      };
    }]);
  </script>
  <link href="http://alexgorbatchev.com/pub/sh/current/styles/shCore.css" rel="stylesheet">
  <link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet">
  <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js"></script>
  <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js"></script>
  <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js"></script>
  <script>
    SyntaxHighlighter.all();
  </script>
</body>
</html>
